{
    "Title":  "TheIsle",
	"servername":  "The Isle Servername",
	"PIDname": "TheIsleServer-Win64-Shipping",
	"ExeName": "TheIsleServer-Win64-Shipping.exe",
	"gameid":  "412680",
	"branches": "evrima",
    "steamcmd":  "C:\\SteamCMD\\SteamCMD\\steamcmd.exe",
    "forceinstalldir":  "C:\\SteamCMD\\TheIsleServer",
	"Shipping": "\\TheIsle\\Binaries\\Win64",
	"ArgumentList": "MultiHome=192.168.0.107?Port=7777?QueryPort=7778 -log"
}